[user]
    name = Joseph Jo
[fetch]
    prune = true
[help]
    autocorrect = 5
[merge]
    ff = no
[pull]
    rebase = true
[push]
    default = current
[color]
    ui = auto
[core]
    excludesfile = /Users/jjo/.gitignore
